.pagination{
    display: flex;
    flex-direction: column;
    position: relative;

    .pagination__wrapper{
        display: table;
        min-height: 100vh;
        .pagination__cards{
            position: absolute;
            width: 100%;
        }
    }

    .pagination__button{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0.5em 0 ;

        button {
            border: 1px solid #eeeeee;
        }

        .actual{
            background: #eeeeee;
            color: #07689F;
            cursor: default;
        }
        .actual:hover{
            opacity: 1;
        }
    }
}