#wrapper-dragAndDrop{
    width: calc( 100% - 40px );
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #222222;
    opacity: 0.8;

    border-width: 2px;
    border-radius: 2px;
    border-color: #222222;
    border-style: dashed;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;

    padding: 18px;
    img{
        margin: 0.2em;
        height: 5em;
        color: #222222;
        opacity: 0.8;
    }

    p{
        font-size: 2em;
        color: #222222;
        opacity: 0.8;
    }
}

#wrapper-dragAndDrop.active{
    border-color: #2196f3;

    svg{
        color: #2196f3;
    }
    p{
        color: #2196f3;
    }
}

#dragAndDrop__layaout{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 2;
}