#spinner{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    z-index: 2;

    svg{
        width: 200px;
        height: 200px;
        rect{
            width: 200px;
            height: 200px;
            fill: none;
            stroke-width: 200px;
            stroke: #056676;
            stroke-dasharray: 200;
            stroke-dashoffset: 50%;
            animation: animate 1.2s linear infinite;
        }
    }
    
    @keyframes animate{
        to{
            stroke-dashoffset: 250%;
        }
    }
}